<!-- Esta clase es una vista que contiene el formulario para agregar nuevos clientes no potencializables pero
a su vez contiene la visualización de todos los clientes que se encuentran guardados en la base de datos con la
posibilidad de actualiza o borrar cualquiera de ellos -->
 
<%- include ('partials/_header') %>

<%- include ('partials/message') %>

<div id="titulos-home">
    <h2><i class="far fa-user-circle"></i><span> </span>Gestiona tus clientes</h2>
    <p>Accede de forma ágil a las plataformas de pago virtual.</p>
    </div>

<div id="clientesNoPotencializables">
        <label><b>Clientes no potencializables</b></label>
    </div>
    <div  id="tablaClientes">
        <div class="row " id="caja">
                <table class="table table-bordered" id="tabla">
                    <thead>
                        <tr>
                            <th width="80px">Id</th>
                            <th width="130px">Documento</th>
                            <th width="180px">Nombre</th>
                            <th width="180px">Instrucción</th>
                            <th width="180px">Comité</th>
                            <th width="140px">Fecha_Inclusión</th>
                            <th width="240px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for (var i=0; i<data.length; i++){ %>
                                <tr>
                                    <td width="10px";><%= (i + 1)%></td>
                                    <td width="10px"><%= data[i].documento%></td>
                                    <td width="10px"><%= data[i].nombre%></td>
                                    <td width="10px"><%= data[i].instruccion%></td>
                                    <td width="10px"><%= data[i].comite%></td>
                                    <td width="10px"><%= data[i].fechaIngreso%></td>
                                    <td>
                                        <a href="/delete/<%=data[i].id%>" class="btn btn-danger"> Eliminar </a>
                                        <a href="/update/<%=data[i].id%>" class="btn btn-info"> Actualizar 
                                            <i class="fas fa-check-circle"></i></a>
                                    </td>
                                    </tr>
                            <% }%>
                        <% }%>
                    </tbody>
                </table>
            </div>
        
        </div>


